<ion-html>
  <ion-body>
    
    <ion-button color="primary" shape="round" fill="outline" expand="full"><b>MINHAS ANOTAÇÕES</b></ion-button><br />

    <ion-item *ngFor="let item of row_data">   
      <ion-input autofocus=true (ionFocus)="pegaTexto(item.texto);" readonly ></ion-input> 
    </ion-item>
         
    <ion-textarea rows="17" class="corTexto" [(ngModel)]="name_model"  name="texto" > </ion-textarea>   
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">      
      <ion-fab-button>
        <ion-icon name="save" (click)="insertRow();" ></ion-icon> 
      </ion-fab-button>
     
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">      
      <ion-fab-button>
        <ion-icon name="folder-open" (click)="exibeToast('Documento aberto!');"></ion-icon> 
      </ion-fab-button>
     
    </ion-fab>
   
  </ion-body>
</ion-html>
